[Unit]
Description={{ description }}

[Service]
Type=simple
User={{ user }}
Group={{ group }}
{% if env %}EnvironmentFile=/etc/sysconfig/{{ name }}{% endif %}
ExecStart={{ cmd }} {{ args }}
{# {{ ExecStartPre=/lib/systemd/system/{{ name }}-prestart.sh if prestart }} #}
Restart={{ always or 'restart' }}
WorkingDirectory={{ chdir or '/' }}

[Install]
WantedBy=multi-user.target